/* html,body{
    height: 100%;
    width: 100%;
} */


.big-container{
    width: 500px;
    height: 500px;
    margin: auto auto;
    display: flex;
    flex-wrap: wrap;
    background-color: white;
    border-radius: 20px;
}

.pixel-div{
    outline:1px solid rgb(0, 0, 0);
    outline-width: 1px;
    margin: 0px;
    padding:0px;
}

body{
    background-color: #e1ffbb;
}

button{
    background: none;
    box-shadow: none;
    border-radius: 20px;
    margin-right:0.5rem;
}

form{
    margin-left: 1rem;
}

.length-text{
    font-size: 18px;
    font-style: italic;
    margin-bottom: 0.5rem;
    color:#009990;
}

#input-size{
    border:0;
    border-radius: 100px;
    margin-right: 0.5rem;
}